<div class="panel_contents">
  <form method="get" id="search_build" class="filter_form" action="/admin/dashboard" accept-charset="UTF-8">
    <div class="filter_form_field filter_string">
      <% selected = params[:build_id].presence || Build.where(user_id: current_user.id).last&.id&.to_s %>
      <select
        onchange="$('#search_build').submit();"
        name="build_id"
        id="build_id"
        data-select2-id="build_id"
        tabindex="-1"
        class="select2-hidden-accessible"
        aria-hidden="true"
        data-width="100%"
      >
        <% Build.where(user: current_user).all.each do |build| %>
          <option value="<%= build.id %>" <% if build.id.to_s == selected %>selected="selected"<% end %>>
            <%= build.display_name %>
          </option>
        <% end %>
      </select>
<!--      <input type="submit" value="Go" name="commit" id="q_submit" />-->
    </div>
  </form>
</div>
