!!!
%html{style: "min-height: 100vh;display: flex;flex: 1;"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title AWH
    -#%meta{content: "width=device-width,initial-scale=1", name: "viewport"}
    %meta{content: "minimum-scale=1, initial-scale=1, width=device-width", name: "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: "stylesheet", href:"https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"}
    %link{rel: "stylesheet", href:"https://fonts.googleapis.com/icon?family=Material+Icons"}
  %body{style: "min-height: 100vh;display: flex;flex: 1;"}
    #root{style: "width: 100%"}
    = yield
